@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body, h1, h2, span {
  outline: none !important;
}
h5{
  font-family: 'Pacifico';
  text-align: center;
  font-size: 1.25rem;
  margin-top: 15px;
}
body{
   font-family: "Architects Daughter";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
  width: 1000px;
  margin: 30px auto;
}
.wrapper {
  width: 900px;
  min-height: 500px;
  background: #1C362C;
  margin: 0 auto;
  text-align: center;
}
.menu {
  font-family: "Architects Daughter";
  padding-top: 150px;
  width: 500px;
  margin: 0 auto;
}
.menu h2 {
  width: 300px;
  margin: 0 auto 30px;
  color: #fff;
  font-size: 35px;
}
.menu span{
  color: grey;
  margin-right: 15px;
  font-size: 25px;
}
.menu2 span {
  font-size: 60px;
}
.menu span:hover {
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  border: 2px dashed grey;
}
.back {
  color: grey;
  cursor: pointer;
  font-size: 40px;
}
.game-state{
  width: 120px;  
  float: left;
  position: absolute;
  left: 60px;
  top: 50px;
  text-align: left;
  cursor: default;
  color: #fff;
  text-transform: capitalize;
}
.game-control{
  width: 100px;  
  float: right;
  position: absolute;
  right: 100px;
  top: 50px;
  color: #fff;
}
.game-control>.restart:hover, .game-control>.home:hover{
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  border: 2px dashed grey;
}
.back:hover {
  color: #fff;
}
.board {
  width: 420px;
  min-height: 420px;
  padding: 50px 0;
  margin: 0 auto;
}
.player-turn {
  margin-top: 60px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  font-family: "Architects Daughter";
}
.player-turn p {
  font-size: 35px;
  color: green;
  text-transform: capitalize;
}
.draw-message, .lose-message, .win-message {
    background: rgba(0,0,0,0.6);
    width: 900px;
    height: 610px;
    z-index: 2000;
    position: absolute;
    display: none;
    top: 0px;
    left: 50px;
    box-sizing: border-box;
}
.draw-message p, .lose-message p, .win-message p {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 2.3rem;
    margin: 0;
    top: 230px;
    left: 350px;
    font-family: 'Architects Daughter', sans-serif;
}
.cell {
  font-family: "Architects Daughter";
  width: 140px;
  height: 140px;
  line-height: 140px;
  font-size: 70px;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-right: 2px solid #fff;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-left: 2px solid #fff;
}
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6){
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.result-bg{
  background: rgba(0,0,0,0.4) !important;
}